uvicorn
fastapi~=0.78.0
#for template  #new
jinja2
#for static files
aiofiles
#for database   #new
sqlalchemy==1.3.23
psycopg2-binary
#for loading environment variables  #new
python-dotenv~=0.20.0
#for email validation            #new
pydantic[email]~=1.9.1
#hashing              #new
passlib[bcrypt]~=1.7.4
#for testing       #new
pytest~=7.1.2
requests
#for jwt tokens    #new
python-jose
#for  cleaning up codebase on each commit
pre-commit

#for accessing form data       #new
python-multipart

#for google connexion
authlib~=1.0.1
itsdangerous
httpx
# for send meail
emails~=0.6
# for l'id
uuid~=1.30
redmail